html {
    scroll-behavior: smooth;


}

body {
    font-family: 'Manrope', Courier, monospace;


}

.metrika {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-family: 'Manrope';
    font-size: 60px;
    width: 956px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: black;
    margin-top: 73px;
    margin-bottom: 30px;
    letter-spacing: -0.03em
}

h2 {
    font-family: 'Manrope';
    font-size: 45px;
    line-height: 61px;
    font-weight: 400;
}

.Decor {
    width: 1150px;
    height: 500px;
    background-image: url('../resourse/Decor.png');
    color: white;
    text-align: left;
    background-repeat: no-repeat;
}

.text {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    width: 428px;
    top: 380px;
    left: 40px;
    position: relative;
    letter-spacing: -0.03em;
}

.onas h1 {
    margin-top: 150px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
    color: black;
    left: 125px;
}

.onas h2 {
    color: black;
    padding-bottom: 30px;
    width: 1082px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;

}

.btn {
    font-size: 20px;
    padding: 23px 40px;
    text-decoration: none;
    background-color: #AD1818;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 2px;
    display: inline-block;
}



.container {
    width: 100%;
    max-width: 1150px;
    margin-left: 125px;
    box-sizing: border-box;
    letter-spacing: -0.03em;
}

.structure {
    letter-spacing: -0.03em;
}

.blok_project {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
    color: black;
    padding-bottom: 30px;
    padding-top: 150px;
    margin-left: 125px;

}

.blok_zhk_p {
    margin-left: 125px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.03em;

}

.blok_zhk_n {
    margin-left: 125px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.03em;

}

.blok_zhk_s {
    margin-left: 125px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.03em;

}

.blok_image {
    margin-top: 90px;
    margin-left: 125px;
    margin-bottom: 15px;
    width: 1150px;
    height: 450px;
    letter-spacing: -0.03em;
}
.blok_image_first{
    margin-left: 125px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.03em;
}

.blok_more {
    margin-left: 126px;
text-decoration: none;
    margin-bottom: 90px;
    width: 127px;
    font-size: 20px;
    line-height: 26px;
    color: #AD1818;

}

.blok_more_last {
    text-decoration: none;
    margin-left: 126px;
    margin-bottom: 90px;
    width: 127px;
    font-size: 20px;
    line-height: 26px;
    color: #AD1818;

}


.block_btn {
    box-sizing: border-box;
    width: 1150px;
    height: 153px;

    border: 1px solid #AD1818;
    border-radius: 5px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.03em;
    background: #AD1818;
    text-decoration: none;
    color: white;


}

.look_all {
    margin-top: 90px;
    margin-bottom: 150px;
    margin-left: 125px;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #AD1818;
    background-color: #FFFFFF;
    border: 1px solid #AD1818;
    border-radius: 5px;
    transition: all 200ms linear;
    cursor: pointer;
}

.look_all:hover {
    background-color: #AD1818;
    color: #FFFFFF;
    transition: all 100ms linear;
}



.black {
    width: 1400px;
    height: 1994px;
    box-sizing: border-box;
    background-color: #121212;

}

.black h1 {
    position: absolute;
    width: 66px;
    height: 25px;
    margin-top: 152px;
    margin-left: 125px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}


.planning_decision {

    width: 1150px;
    height: 270px;
    margin-left: 125px;
    margin-top: 210px;

}

.design_project {
    height: 270px;
    margin-left: 125px;
    margin-top: 60px;

}

.author_supervision {
    width: 1150px;
    height: 270px;
    margin-left: 125px;
    margin-top: 60px;

}

.equipment {
    width: 1150px;
    height: 270px;
    margin-left: 125px;
    margin-top: 60px;
    margin-bottom: 15px;

}


.block_description {
    margin-left: 125px;
    margin-top: 15px;
    letter-spacing: -0.03em;
    width: 541px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
}

.block_description_last {
    margin-left: 125px;
    letter-spacing: -0.03em;
    margin-top: 15px;
    width: 661px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;

}



.logo_link {
    display: inline-block;
    margin-right: 480px;
    margin-left: 125px;
    margin-top: 33px;
}

.navigation {
    display: inline-block;
}

.navigation__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    margin-left: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #121212;

}

.navigation__link:hover {
    color: #898989;
    text-decoration: underline;
}


.scenre {
    width: 1400px;
    height: 717px;
    background-image: url('../resourse/bed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.forest h3 {
    font-family: 'Manrope';
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    padding-left: 125px;
    padding-bottom: 60px;
    padding-right: 832px;
    padding-top: 575px;
    color: #FFFFFF;
    margin-top: 0px;
}

.contacts {
    margin-top: 186px;
    margin-right: 1186px;
    margin-left: 125px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

.contacts h3::before {
    content: '';
    display: block;
    margin-bottom: 13px;
    width: 13px;
    height: 22px;
    background-image: url('../resourse/Phone.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.nomber a {
    width: 472px;
    height: 73px;
    display: inline-block;
    font-size: 60px;
    line-height: 0px;
    letter-spacing: -0.03em;
    color: black;
    text-decoration: none;
    margin-top: 32px;


}

.contacts {

    left: 8.86%;
    right: 84.71%;
    top: 91.73%;
    bottom: 7.92%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #121212;
}

.mail a {
    font-size: 60px;
    color: #898989;
    text-decoration: none;
    border-bottom: 2px solid;
    text-transform: none;

}

.contacts h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
    font-weight: 400px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.footer {
    margin-top: 160px;
    background-color: #121212;
    background-size: 100%;
    min-width: 1150px;
    height: 229px;

}

.block_footer {
    text-align: center;
}

.menu_footer {
    display: inline-block;
    margin-left: 470px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 54px;
    color: #FFFFFF;
    background-color: #121212;
    text-align: center;
}

.menu_footer:hover {
    background-color: #121212;
    opacity: 0.5;
    text-decoration: underline;
    color: #FFFFFF;
}

.studio {
    width: 389px;
    height: 27px;
    margin-left: 509px;
    margin-top: 87px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;

}